{% extends 'base.html' %} {% load static %} {% block content %}

<h1>{{post.title}}</h1>
{% if post.writer %}
  {% if 'user' in post.writer.username %}
  작성자 : <a href="{% url 'users:mypage' post.writer.id %}"></a>{{ post.writer.last_name }} {{ post.writer.first_name }}
  {% else %}
  작성자 : <a href="{% url 'users:mypage' post.writer.id %}"></a>{{ post.writer }}
  {% endif %}
  {% else %}
  작성자 : 알 수 없음
{% endif %}
  
날짜 : {{post.pub_date}}
<hr />

{% if post.image %}
<!-- 여기 수정 -->
<p>
  <img src="{{ post.image.url }}" alt="사진" />
</p>
{% endif %}

<p>{{post.body}}</p>

<a href="{%url 'main:edit' post.id %}">수정하기</a>
<a href="{%url 'main:delete' post.id %}">삭제하기</a>

<div>
	<form action="{%url 'main:create_comment' post.id%}" method="POST">
		{%csrf_token%}
		<textarea name="content" placeholder="댓글내용입력"></textarea>
		<input type="submit" value="확인">
	</form>
</div>

<pre>


</pre>
{% for comment in comments %}
    <div>
        <p>{% if post.writer %}
            {% if 'user' in post.writer.username %}
            작성자 : <a href="{% url 'users:mypage' comment.writer.id %}">{{ post.writer.last_name }}{{ post.writer.first_name }}</a>
            {% else %}
            작성자 : <a href="{% url 'users:mypage' comment.writer.id %}">{{ post.writer }}</a>
            {% endif %}
            {% else %}
            작성자 : 알 수 없음
            {% endif %}
            </p><br>
        {{comment.content}}
        <a href="{% url 'main:delete_comment' comment.id %}">댓글 삭제하기</a>
        <a href="{% url 'main:update_comment' comment.id %}">댓글 수정하기</a>
    </div>
    {%endfor%}


{% endblock %}
