{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<head>
	<style>
		body{
				background-color: #b8b2ec;
			}
	</style>
</head>

<h1>{{post.title}} </h1>
<div style=" text-indent: 15px;">
  {% if post.writer %}
    {% if 'user' in post.writer.username %}
    작성자 : <a href="{% url 'users:mypage' post.writer.id %}"></a>{{ post.writer.last_name }} {{ post.writer.first_name }}
    {% else %}
    작성자 : <a href="{% url 'users:mypage' post.writer.id %}"></a>{{ post.writer }}
    {% endif %}
    {% else %}
    작성자 : 알 수 없음
  {% endif %}
</div>
 
<div style=" text-indent: 15px;">
  날짜 : {{post.pub_date}}
</div> 
<hr/>

{% if post.image %}
<!-- 여기 수정 -->
<p>
  <img src="{{ post.image.url }}" alt="사진" />
</p>
{% endif %}

<p style=" text-indent: 30px;">{{post.body}}</p>
<script src="https://kit.fontawesome.com/016d3d09d8.js" crossorigin="anonymous"></script>

<div class="heart">
	<span href="#" class="like" name ="{{post.id}}" value="Like"> 

		<!-- 만약 유저가 좋아요를 눌렀다면 채운 하트로 변경-->
		{% if user in post.like_user_set.all %}
			<div class="alt-service-icon">
				<i class="fas fa-heart" id ="like-icon" style="color:red;"></i>
			</div> 
		<!-- 아니면 비워진 하트-->         
		{% else %}

			<div class="alt-service-icon">
				<i class="far fa-heart" id ="like-icon" style="color:red;"></i> 
			</div>

		{% endif %}

		<span id="count-{{ post.id }}" class="alt-services-title font-alt"> 
			좋아요 
			{% if post.like_count == 0 %} 
				0개 
			{% else %}
				{{ post.like_count }}개
			{% endif %}
		</span>
	</span>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script>
		$(".like").click(function(){
			var pk = $(this).attr('name')
			$.ajax({
				url : "{% url 'main:like_toggle' post.pk %}",
				data : {'pk':pk,'csrfmiddlewaretoken': '{{ csrf_token }}'},
				type:"POST",
				dataType:"json",
				
				success: function(response){

					if (response.like_count==null){
						alert("로그인이 필요합니다.");
						window.location.replace('/accounts/login/')
					}
					else{
						if (response.result == "like"){
							$('#like-icon').removeClass();
							$('#like-icon').addClass('fas fa-heart');
						}
						else{
							$('#like-icon').removeClass();
							$('#like-icon').addClass('far fa-heart');
						}

						$('#count-{{ post.id }}').html('좋아요 '+response.like_count+'개');
					}
				},

				error: function(request, status, error){
					alert("로그인이 필요합니다.")
					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); 
				},
			});
		})
	</script>

	<div class="unlike1">

		<span href="#" class="dislike" name ="{{post.id}}" value="Disike"> 

				<!-- 만약 유저가 싫어요를 눌렀다면 채운 하트로 변경-->
				{% if user in post.dislike_user_set.all %}
					<div class="alt-icon">
						<i class="fas fa-heart" id ="dislike-icon" style="color:blue;"></i>
					</div> 
				<!-- 아니면 비워진 하트-->         
				{% else %}
			
					<div class="alt-icon">
						<i class="far fa-heart" id ="dislike-icon" style="color:blue;"></i> 
					</div>
			
				{% endif %}
			
				<span id="count1-{{ post.id }}" class="services-title font-alt"> 
					싫어요 
					{% if post.dislike_count == 0 %} 
						0개 
					{% else %}
						{{ post.dislike_count }}개
					{% endif %}
				</span>
			</span>
			
	</div>
    <script>
        $(".dislike").click(function(){
            var pk = $(this).attr('name')
            $.ajax({
                url : "{% url 'main:dislike_toggle' post.pk %}",
                data : {'pk':pk,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                type:"POST",
                dataType:"json",
                
                success: function(response){

                    if (response.dislike_count==null){
                        alert("로그인이 필요합니다.");
                        window.location.replace('/accounts/login/')
                    }
                    else{
                        if (response.result == "dislike"){
                            $('#dislike-icon').removeClass();
                            $('#dislike-icon').addClass('fas fa-heart');
                        }
                        else{
                            $('#dislike-icon').removeClass();
                            $('#dislike-icon').addClass('far fa-heart');
                        }

                        $('#count1-{{ post.id }}').html('싫어요 '+response.dislike_count+'개');
                    }
                },

                error: function(request, status, error){
                    alert("로그인이 필요합니다.")
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); 
                },
            });
        })
    </script>
			
</div>
	
<pre></pre>
<a href="{%url 'main:edit' post.id %}">✍게시물 수정</a><br>
<a href="{%url 'main:delete' post.id %}">🗑게시물 삭제</a>
<pre>


</pre>
<pre>🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍🤍</pre>
<div>
	<form action="{%url 'main:create_comment' post.id%}" method="POST">
		{%csrf_token%}
		<textarea name="content" placeholder="댓글내용입력"></textarea>
		<input type="submit" value="확인">
	</form>
</div>

<pre>


</pre>

<div>
{% for comment in comments %}
<pre>...................</pre>
    <div>
        <p>{% if post.writer %}
            {% if 'user' in post.writer.username %}
            작성자 : <a href="{% url 'users:mypage' comment.writer.id %}">{{ post.writer.last_name }}{{ post.writer.first_name }}</a>
            {% else %}
            작성자 : <a href="{% url 'users:mypage' comment.writer.id %}">{{ post.writer }}</a>
            {% endif %}
            {% else %}
            작성자 : 알 수 없음
            {% endif %}
        </p>
        <div style=" text-indent: 15px;">
          {{comment.content}}
        </div>

        <br><a href="{% url 'main:update_comment' comment.id %}">✍댓글 수정</a>
        <br><a href="{% url 'main:delete_comment' comment.id %}">🗑댓글 삭제 </a>

    </div>

{%endfor%}
</div>


{% endblock %}


