{% extends 'base.html' %} {% load static %} {% block content %}

<div class="text">
  <p>The world as i see it</p>
</div>
<img class="profile_icon" src="{%static 'images/icon.jpg' %}" />
<img class="background" src="{%static 'images/photo1.jpg' %}" />
<style>
  .visit {
    position: absolute;
    z-index: 2;

    margin: 20px;
    border-radius: 4px;
  }
  .background {
    width: 100%;
    /*background-image: url(./images/photo1.jpg);*/
    position: absolute;
    z-index: 1;
  }
  .text {
    position: absolute;
    z-index: 4;
    font-size: 70px;
    font-weight: bold;
    font-family: Times;
    color: #ff9999;

    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .profile_icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 3;
    border-radius: 70%;
    height: 30%;
  }
</style>

<div class="visit">
  {% if user.is_authenticated %}

  <h1>visited</h1>
  <div>
    {% for post in post %}
    <div>
      <pre></pre>
      name: {{post.writer}}<br />
      {{post.summary}}
      <a href="{%url 'main:detail' post.id %}">....자세히</a>
      <br />
    </div>
    {%endfor%}
  </div>

  <pre></pre>
  <h2><a href="{%url 'main:new' %}">▶ writing</a></h2>
  {% else %}
    <h3>로그인  후 이용 가능</h3>
    <a href = "{% url 'account_login' %}" class="btn btn-warning">로그인</a>
    <a href = "{% url 'account_signup' %}"class="btn btn-warning">회원가입</a>
    {% endif %}
</div>

{% endblock %}
